<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAa6uqWOYnR9LyVGhA2IEvsIShSjTi8tMc</string>
	<key>GCM_SENDER_ID</key>
	<string>938779937663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>melak.LearningFireBase</string>
	<key>PROJECT_ID</key>
	<string>learnfirebase-2c252</string>
	<key>STORAGE_BUCKET</key>
	<string>learnfirebase-2c252.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938779937663:ios:f95bb5414660a169af684a</string>
</dict>
</plist>